@font-face {
    font-family: 'Digital';
    src: url('./../fonts/digital-7.ttf');
}
:root {
    --small-bp: 640px;
    --large-bp: 840px;
    --ui-opacity: 0.5;
    --ui-color: #fff;
    --font: "Russo One", arial, sans-serif;
    --letter-spacing: 0.06em;
	--duration-in: 0.4s;
	--duration-out: 0.25s;
	--curve-in: ease-out;
    --curve-out: ease-in;
    --separator-color: rgba(#FFF, 0.25);
}

* {
	position: relative;
	box-sizing: border-box; 
}
html,
body {
	height: 100%;
}
html {
	background-color: #000;
}
body {
	overflow: hidden;
	color: var(--ui-color);
	font-family: var(--font);
	line-height: 1.25;
    letter-spacing: var(--letter-spacing);
    margin: 0;
}
.hide {
	opacity: 0;
	visibility: hidden;
}
.remove {
	display: none !important;
}
.blur {
	filter: blur(12px);
}
.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading-init {
	width: 100%;
	align-self: center;
	text-align: center;
	text-transform: uppercase;
}
.loading-ini .loading-init__header {
    font-size: 2.2em;
}

.loading-ini .loading-init__status {
    margin-top: 1em;
    font-size: 0.8em;
    opacity: 0.75;
}

.stage-container {
	overflow: hidden;
	box-sizing: initial;
	border: 1px solid #222;
	margin: -1px;
    cursor: crosshair;
}
@media (max-width: var(--large-bp)) {
    .stage-container {
        border: none;
        margin: 0;
    }
    .menu select, input {
        outline: none;
    }
}
.canvas-container {
	width: 100%;
	height: 100%;
	transition: filter 0.3s;
	
	
}
.canvas-container  canvas {
    position: absolute;
    mix-blend-mode: lighten;
    transform: translateZ(0);
}
.controls {
	position: absolute;
	top: 0;
	width: 100%;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	transition: opacity 0.3s, visibility 0.3s;
    z-index: 99;
}
.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 1);
    z-index: 9;
	transition: opacity 0.3s, visibility 0.3s;
}
.menu .menu__inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
}
.menu .menu__header {
    margin-top: auto;
    margin-bottom: 8px;
    padding-top: 16px;
    font-size: 2em;
    text-transform: uppercase;
}

.menu .menu__subheader {
    margin-bottom: 0;
    padding-bottom: 0px;
    font-size: 0.86em;
    opacity: 0.8;
}

.menu .form-option--select select {
    display: block;
    width: 50%;
    height: 30px;
    font-size: 1rem;
    font-family: var(--font);
    color: var(--ui-color);
    letter-spacing: var(--letter-spacing);
    background-color: transparent;
    border: 1px solid var(--ui-color);
}
.menu .form-option--select select option {
    background-color: black;
}
.menu form {
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.form-option--checkbox input {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0;
    opacity: var(--ui-opacity);
}

.menu .form-option label {
    display: block;
    width: 50%;
    padding-right: 12px;
    text-align: right;
    text-transform: uppercase;
    user-select: none;
}
.menu .form-option {
    display: flex;
    align-items: center;
    margin: 16px 0;
    transition: opacity 0.3s;
}

.close-menu-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.btn {
	width: 50px;
	height: 50px;
	display: flex;
	user-select: none;
	cursor: default;
	transition: opacity 0.3s;
}
.btn .btn--bright {
    opacity: 0.5;
}

.wishing-text{
    color:#fff;
    font-weight: normal;
}
#start{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #28a745;
    padding: 10px;
    user-select: none;
    border: 2px solid #28a745;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    font-family: var(--font);
    height: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#start:hover{
    background: transparent;
    
}
.btn svg{
    display: block;
    margin: auto;
}

.credits {
	margin-top: auto;
	margin-bottom: 10px;
	padding-top: 6px;
	font-size: 0.8em;
	opacity: 0.75;
}
.credits a{
    color: var(--ui-color);
    text-decoration: underline;
}
.credits a:hover, .credits a:active{
    color: rgba(white, 0.75);
    text-decoration: underline;
}
.help-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	transition-property: visibility;
	transition-duration: var(--duration-out);
    z-index: 999;
}
.help-modal .help-modal__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: var(--curve-out);
    transition-duration: var(--duration-out);
}
.help-modal .help-modal__dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: calc(100vh - 100px);
    margin: 10px;
    padding: 20px;
    border-radius: 0.3em;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: scale(0.9, 0.9);
    transition-property: opacity, transform;
    transition-timing-function: var(--curve-out);
    transition-duration: var(--duration-out);
}
.help-modal .help-modal__header {
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
}
.help-modal .help-modal__body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
    line-height: 1.5;
    color: rgba(#FFF, 0.75);
}
.help-modal .help-modal__close-btn {
    flex-shrink: 0;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.25em 0.75em;
    margin-top: 0.36em;
    font-family: var(--font);
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    background-color: rgba(255, 255, 255, 0.25);
    transition: color 0.3s, background-color 0.3s;
}
.help-modal .help-modal__close-btn:hover,.help-modal .help-modal__close-btn:active, .help-modal .help-modal__close-btn:focus{
    color: #FFF;
    background-color: #09F;
}
.help-modal.active {
    visibility: visible;
    transition-duration: var(--duration-in);
}
.help-modal.active .help-modal__dialog{
    opacity: 1;
    transform: scale(1, 1);
    transition-timing-function: var(--curve-in);
    transition-duration: var(--duration-in);
}
.help-modal.active .help-modal__overlay{
    opacity: 1;
    transition-timing-function: var(--curve-in);
    transition-duration: var(--duration-in);
}
@media (min-width: var(--large-bp)) {
    .controls:hover{
        visibility: visible;
        opacity: 1;
    }
    .hide:hover {
        opacity: 1;
    }
    .btn:hover{
        opacity: 0.32;
    }
    .btn .btn--bright:hover{
        opacity: 0.75;
    }
    .help-modal .help-modal__dialog {
        font-size: 1.25rem;
        max-width: 500px;
    }
}

.begins
{
    color: #fff;
    text-align: center;
    font-size: 46px;
    font-weight: normal;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
    color:#fff;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    -o-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out;
}
#loader {
    display: block;
    position: relative;
    top: calc(20%);
    z-index: 1001;
    text-align: center;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
    transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
}
#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
    -o-transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
    transition: all .7s .3s cubic-bezier(.645,.045,.355,1);
}
.countdown-holder {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
    font-family: 'Digital', sans-serif;
}

.countdown-holder div {
    background: #fff;
    width: 8rem;
    text-align: center;
    border-radius: 0.7rem;
    padding: 1.2rem 1.5rem;
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.22);
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.22);
    margin-bottom: 1.5rem;
}

.countdown-holder div:not(:last-child) {
    margin-right: 1.5rem;

}

.countdown-holder h1 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.countdown-holder span {
    color: red;
    font-size: 25px;
}
#launch_div,.info-div {
    display:none;
    padding: 10px;
}
.info-div
{
    border:1px solid #fff;
}
.happy-diwali{
    color:#00bfff;
}
.cover{
    background: transparent;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 9;
    position: absolute;
}
.super-centered-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.overlay-static{
    position: relative;
    z-index: 100;
}
  
@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
  
    50% {
        -webkit-filter: hue-rotate(360deg);
        transform: scale(1.2) rotate(0deg);
    }
}
  
.wish {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
    letter-spacing: 0.1em;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffff00, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite ease-in-out;
}
@media (max-width: 767px) {
    .wishing-text{
        font-size: 20px;
    }
}